.gitignore
_build
_download
support

.vscode/
env
venv
_image-source-files

*.ignoreme
*.rstignoreme
*.pyc
*.idlk
*.worksheet
*.bbprojectdata
*.bbprojectsettings
vale
.vale.ini
.idea
.DS_Store
my-public-o11y-docs.iml
_static/main.min.css
_static/main.min.js
