h1:hover > a.headerlink, h2:hover > a.headerlink, h3:hover > a.headerlink, h4:hover > a.headerlink, h5:hover > a.headerlink, h6:hover > a.headerlink, dt:hover > a.headerlink, caption:hover > a.headerlink, p.caption:hover > a.headerlink, div.code-block-caption:hover > a.headerlink, a.headerlink {
    visibility: visible;
    position: absolute !important;
}

a.headerlink {
    display: inline-block;
    position: absolute !important;
}

.newnavbar {
    text-transform: uppercase;
    color: darkgray !important;
    font-size: 14px;
    margin: 10px 30px 5px 10px;
    /* float: left; */
    
    }


div.body {
    min-width: auto !important;
    max-width: auto !important;
}
/* 
div.body > .section {
    text-align: justify;
} */

/* div#searchbox {
        display: flex!important;
        flex-basis: auto;
        padding-left: 520px;
} */

@media screen and (min-width: 320px) and (max-width: 1024px) {
    .fbybtn {
        font-size: 12px;
        background: #218eee;
        color: #fff !important;
        font-weight: bold;
        padding: 6px 14px;
        height: 30px;
        display: inline-block;
        border-radius: 4px 4px 0 0;
        z-index: 3000;
        position: relative;
        bottom: 0;
        /* right: 270px; */
}

.footer {
    text-align: center !important;
 width: 100% !important;
 margin: 0 0 0 !important;
 padding: 10px 0;
 background: #fff;
 border-top:1px solid #ddd;
 position: relative;
 bottom:0;
 clear: both;
 }

 .navbar-nav {
    text-align: center;
    margin-bottom: 20px;

 }

}

@media (min-width: 576px) {
    .navbar-expand-sm .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
        padding-left: 500px;
    }

    .fbybtn {
        font-size: 12px;
        background: #218eee;
        color: #fff !important;
        font-weight: bold;
        padding: 6px 14px;
        height: 30px;
        display: inline-block;
        border-radius: 4px 4px 0 0;
        z-index: 3000;
        position: fixed;
        bottom: 0;
        right: 270px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 142px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */ 
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 94%;
    height: 550px;
}

.page_navigation{
    padding: 5px;
}

.searchSummary {
  margin-left: 20px;
  margin-top: -18px;
}

.new-modal-header {
    background: #F9FAFB;
      margin-left: 0px;
      padding: 0px;
      border-bottom: 1px solid #8B9BAD;
      width: 638px;
      height: 44px;
      border-radius: 5px 5px 0px 0px;
  }

  #modal-search-text-form {
    display: inline-block;
    width: 80%;
    /* border: none; */
    
  }
  
  .modal-search-text-form:focus {
      height: 50px;
      border-bottom: 2px solid #33AAFF;
  }

}

@media screen and (max-width: 767px) {
    #modal-search-text-form {
        display: inline-block;
        width: 78% !important;
        /* border: none; */
        
      }
      
      .modal-search-text-form:focus {
          height: 50px;
          border-bottom: 2px solid #33AAFF;
      }
}

@media (min-width: 1500px) {
    div#searchbox {
        padding-left: 250px;
    }

    div.footer > .fbybtn {
        font-size: 12px;
        background: #218eee;
        color: #fff !important;
        font-weight: bold;
        padding: 6px 14px;
        height: 30px;
        display: inline-block;
        border-radius: 4px 4px 0 0;
        z-index: 3000;
        position: fixed;
        bottom: 0;
        right: 270px;
}
}

.heading-title{
    text-transform: capitalize;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 0px;
}