h1:hover > a.headerlink, h2:hover > a.headerlink, h3:hover > a.headerlink, h4:hover > a.headerlink, h5:hover > a.headerlink, h6:hover > a.headerlink, dt:hover > a.headerlink, caption:hover > a.headerlink, p.caption:hover > a.headerlink, div.code-block-caption:hover > a.headerlink {
    visibility: visible;
    position: absolute !important;
}

a.headerlink {
    display: inline-block;
    position: absolute !important;
}

.newnavbar {
    text-transform: uppercase;
    color: darkgray !important;
    font-size: 14px;
    margin: 10px 30px 5px 10px;
    /* float: left; */
    
    }


div.body {
    min-width: auto !important;
    max-width: auto !important;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
    .fbybtn {
        font-size: 12px;
        background: #218eee;
        color: #fff !important;
        font-weight: bold;
        padding: 6px 14px;
        height: 30px;
        display: inline-block;
        border-radius: 4px 4px 0 0;
        z-index: 3000;
        position: relative;
        bottom: 0;
        /* right: 270px; */
}

.footer {
    text-align: center !important;
 width: 100% !important;
 margin: 0 0 0 !important;
 padding: 10px 0;
 background: #fff;
 border-top:1px solid #ddd;
 position: relative;
 bottom:0;
 clear: both;
 }

 .navbar-nav {
    text-align: center;
    margin-bottom: 20px;

 }

}

@media (min-width: 576px) {
    .navbar-expand-sm .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
        padding-left: 500px;
    }

    .fbybtn {
        font-size: 12px;
        background: #218eee;
        color: #fff !important;
        font-weight: bold;
        padding: 6px 14px;
        height: 30px;
        display: inline-block;
        border-radius: 4px 4px 0 0;
        z-index: 3000;
        position: fixed;
        bottom: 0;
        right: 270px;
}


}

@media screen and (max-width: 767px) {
    #modal-search-text-form {
        display: inline-block;
        width: 78% !important;
        /* border: none; */
        
      }
      
      .modal-search-text-form:focus {
          height: 50px;
          border-bottom: 2px solid #33AAFF;
      }
}

@media (min-width: 1500px) {
    div#searchbox {
        padding-left: 250px;
    }

    div.footer > .fbybtn {
        font-size: 12px;
        background: #218eee;
        color: #fff !important;
        font-weight: bold;
        padding: 6px 14px;
        height: 30px;
        display: inline-block;
        border-radius: 4px 4px 0 0;
        z-index: 3000;
        position: fixed;
        bottom: 0;
        right: 270px;
}
}

.heading-title{
    text-transform: capitalize;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 0px;
}


/* From layout file --- Start */

/* Circle */

.gg-chevron-right-o {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 26px;
    height: 26px;
    border: 2px solid;   
    border-radius: 100px;
    opacity: 0.2;
    margin-left:7px;
    
}
.gg-chevron-right-o::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 8px;
    height: 8px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotate(-45deg);
    left: 6px;
    top: 7px;
}

.gg-chevron-left-o {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 26px;
    height: 26px;
    border: 2px solid;
    border-radius: 100px;
    opacity: 0.2;
    float:right;
}
.gg-chevron-left-o::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 8px;
    height: 8px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    transform: rotate(45deg);
    left: 8px;
    top: 7px
}

.gg-chevron-left-o:hover {
  opacity: 0.5;
  cursor: pointer;
  background-color: #0d6efd;
  color: white;
  border-color: #0d6efd;
}

.gg-chevron-right-o:hover {
  opacity: 0.5;
  cursor: pointer;
  background-color: #0d6efd;
  color: white;
  border-color: #0d6efd;
}

  /* End Circle */


  .gg-chevron-up {
      box-sizing: border-box;
      position: relative;
      display: inline-block;
      transform: scale(var(--ggs,1));
      width: 8px;
      height: 24px;
      border: 2px solid transparent;
      border-radius: 100px;
      float: right;
      /* margin-right: -18px; */
  }
  .gg-chevron-up::after {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      width: 10px;
      height: 10px;
      border-top: 2px solid;
      border-right: 2px solid;
      transform: rotate(-45deg);
      left: 4px;
      bottom: 2px
  }

  .gg-chevron-down {
      box-sizing: border-box;
      position: relative;
      display: inline-block;
      transform: scale(var(--ggs,1));
      width: 8px;
      height: 22px;
      border: 2px solid transparent;
      border-radius: 100px;
      float: right;
      cursor: pointer;
      /* margin-right: -18px; */
  }
  .gg-chevron-down::after {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      width: 10px;
      height: 10px;
      border-bottom: 2px solid;
      border-right: 2px solid;
      transform: rotate(45deg);
      left: 4px;
      top: 2px
  }

  #rightSideH1 {
    font-size: 14px;
    text-decoration: none;
  }

    .TOCL2 {
			font-weight: 400;
     }
	.TOCL2 .active {
    color: white;
            background-color: rgba(0,0,0,0.1);
    font-weight: bold;
    border-bottom: 1px solid lightgrey;
    border-bottom-style: dashed;

    }

    button.copybtn svg {
        color: black !important;
    }

    .caption-text{
        display: inline-grid;
        max-width: 95%;
    }

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
    }
    
.videoWrapper iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

a.external:not(.image-reference):after {
   content: "";
   width: 11px !important;
   height: 11px;
   margin-left: 2px;
   background-image: url('data:image/svg+xml,<svg aria-hidden="true" height="20px" tabindex="-1" viewBox="0 0 24 24" width="20px" fill="steelblue" xmlns="http://www.w3.org/2000/svg" aria-label="Open externally" class="SVG__StyledSVG-6f973e1f-33a9-sc-13m0oii-0 eDfRku External__StyledPrisma-6f973e1f-33a9-sc-1turs2s-1 kOwWZO"><title>Open externally</title><path d="M0 1.46769C0 0.675592 0.636901 0 1.46525 0H5.99626C6.73263 0 7.32958 0.59737 7.32958 1.33426C7.32958 2.07116 6.73263 2.66852 5.99626 2.66852H2.66663V21.3315H21.3163V17.9995C21.3163 17.2626 21.9133 16.6652 22.6496 16.6652C23.386 16.6652 23.983 17.2626 23.983 17.9995V22.5323C23.983 23.3429 23.3263 24 22.5163 24H1.46665C0.656638 24 0 23.3429 0 22.5323V1.46769Z"></path><path d="M21.3334 4.55534L10.1478 15.7489C9.62706 16.2699 8.78286 16.2699 8.26216 15.7489C7.74147 15.2278 7.74147 14.383 8.26217 13.8619L19.4477 2.66852H14.2121C13.4757 2.66852 12.8787 2.07116 12.8787 1.33426C12.8787 0.59737 13.4757 0 14.2121 0H22C23.1046 0 24 0.896056 24 2.00139V9.74743C24 10.4843 23.4031 11.0817 22.6667 11.0817C21.9303 11.0817 21.3334 10.4843 21.3334 9.74743V4.55534Z"></path></svg>');
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   display: inline-block;
}

.relations{
    display: none !important;
}

.logo-span{
    display: block;
    background: white;
    width: 152px;
    height: 79px;
    margin-bottom: -57px;
    margin-left: -12px;
    margin-top: -41px;
}

.logoimage{
    position: absolute;
    left: 10px !important;
    top: -1px !important;
    width: 130px !important;
}