h1:hover > a.headerlink, h2:hover > a.headerlink, h3:hover > a.headerlink, h4:hover > a.headerlink, h5:hover > a.headerlink, h6:hover > a.headerlink, dt:hover > a.headerlink, caption:hover > a.headerlink, p.caption:hover > a.headerlink, div.code-block-caption:hover > a.headerlink {
    visibility: visible;
    position: absolute !important;
}

a.headerlink {
    display: inline-block;
    position: absolute !important;
}

.newnavbar {
    text-transform: uppercase;
    color: darkgray !important;
    font-size: 14px;
    margin: 10px 30px 5px 10px;
    /* float: left; */
    
    }


div.body {
    min-width: auto !important;
    max-width: auto !important;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
    .fbybtn {
        font-size: 12px;
        background: #218eee;
        color: #fff !important;
        font-weight: bold;
        padding: 6px 14px;
        height: 30px;
        display: inline-block;
        border-radius: 4px 4px 0 0;
        z-index: 3000;
        position: relative;
        bottom: 0;
        /* right: 270px; */
}

.footer {
    text-align: center !important;
 width: 100% !important;
 margin: 0 0 0 !important;
 padding: 10px 0;
 background: #fff;
 border-top:1px solid #ddd;
 position: relative;
 bottom:0;
 clear: both;
 }

 .navbar-nav {
    text-align: center;
    margin-bottom: 20px;

 }

}

@media (min-width: 576px) {
    .navbar-expand-sm .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
        padding-left: 500px;
    }

    .fbybtn {
        font-size: 12px;
        background: #218eee;
        color: #fff !important;
        font-weight: bold;
        padding: 6px 14px;
        height: 30px;
        display: inline-block;
        border-radius: 4px 4px 0 0;
        z-index: 3000;
        position: fixed;
        bottom: 0;
        right: 270px;
}


}

@media screen and (max-width: 767px) {
    #modal-search-text-form {
        display: inline-block;
        width: 78% !important;
        /* border: none; */
        
      }
      
      .modal-search-text-form:focus {
          height: 50px;
          border-bottom: 2px solid #33AAFF;
      }
}

@media (min-width: 1500px) {
    div#searchbox {
        padding-left: 250px;
    }

    div.footer > .fbybtn {
        font-size: 12px;
        background: #218eee;
        color: #fff !important;
        font-weight: bold;
        padding: 6px 14px;
        height: 30px;
        display: inline-block;
        border-radius: 4px 4px 0 0;
        z-index: 3000;
        position: fixed;
        bottom: 0;
        right: 270px;
}
}

.heading-title{
    text-transform: capitalize;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 0px;
}


/* From layout file --- Start */

/* Circle */

.gg-chevron-right-o {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 26px;
    height: 26px;
    border: 2px solid;   
    border-radius: 100px;
    opacity: 0.2;
    margin-left:7px;
    
}
.gg-chevron-right-o::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 8px;
    height: 8px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotate(-45deg);
    left: 6px;
    top: 7px;
}

.gg-chevron-left-o {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 26px;
    height: 26px;
    border: 2px solid;
    border-radius: 100px;
    opacity: 0.2;
    float:right;
}
.gg-chevron-left-o::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 8px;
    height: 8px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    transform: rotate(45deg);
    left: 8px;
    top: 7px
}

.gg-chevron-left-o:hover {
  opacity: 0.5;
  cursor: pointer;
  background-color: #0d6efd;
  color: white;
  border-color: #0d6efd;
}

.gg-chevron-right-o:hover {
  opacity: 0.5;
  cursor: pointer;
  background-color: #0d6efd;
  color: white;
  border-color: #0d6efd;
}

  /* End Circle */


  .gg-chevron-up {
      box-sizing: border-box;
      position: relative;
      display: inline-block;
      transform: scale(var(--ggs,1));
      width: 8px;
      height: 24px;
      border: 2px solid transparent;
      border-radius: 100px;
      float: right;
      /* margin-right: -18px; */
  }
  .gg-chevron-up::after {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      width: 10px;
      height: 10px;
      border-top: 2px solid;
      border-right: 2px solid;
      transform: rotate(-45deg);
      left: 4px;
      bottom: 2px
  }

  .gg-chevron-down {
      box-sizing: border-box;
      position: relative;
      display: inline-block;
      transform: scale(var(--ggs,1));
      width: 8px;
      height: 22px;
      border: 2px solid transparent;
      border-radius: 100px;
      float: right;
      cursor: pointer;
      /* margin-right: -18px; */
  }
  .gg-chevron-down::after {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute;
      width: 10px;
      height: 10px;
      border-bottom: 2px solid;
      border-right: 2px solid;
      transform: rotate(45deg);
      left: 4px;
      top: 2px
  }

  #rightSideH1 {
    font-size: 14px;
    text-decoration: none;
  }

    .TOCL2 {
			font-weight: 400;
     }
	.TOCL2 .active {
    color: white;
            background-color: rgba(0,0,0,0.1);
    font-weight: bold;
    border-bottom: 1px solid lightgrey;
    border-bottom-style: dashed;

    }

    button.copybtn svg {
        color: black !important;
    }

    .caption-text{
        display: inline-grid;
        max-width: 95%;
    }

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
    }
    
.videoWrapper iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

