/*****************************************************
 * document - toggleable sections
 *****************************************************/

.html-toggle-button
{
    position: relative;
}

.html-toggle-button:hover
{
    /* give a little bit of hint that this is clickable */
    cursor: pointer;

}

div.body div.section:not(.emphasize-children) > div.section:not(.emphasized) > h3.html-toggle-button:hover,
div.body h4.html-toggle-button:hover
{
    background: "red";
}

.html-toggle.collapsed > .html-toggle-button
{
    margin-bottom: 1em;
}

.html-toggle.collapsed > .html-toggle-button:after
{
    content: "  [show more]";
    margin: 0;
    padding: .15em 0 0 0;
    text-shadow: none;
    color: #0B599D;
    font-size: 60%;
    font-style: italic;
    font-weight: bold;
}

.html-toggle.expanded > .html-toggle-button:after
{
    content: "  [show less]";
    margin: 0;
    padding: .15em 0 0 0;
    text-shadow: none;
    color: #0B599D;
    font-size: 60%;
    font-style: italic;
    font-weight: bold;
}


/*.html-toggle.expanded {
    border: 1px dotted;
}*/
