name: Heretto Update Reminder

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  reminder:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      actions: read
      issues: write
      checks: write
      pull-requests: write


    steps:
      - name: Add PR label
        if: ${{ github.event.pull_request.head.repo.full_name != github.repository }}
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            github.rest.issues.addLabels({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              labels: ['heretto']
            })
      - name: Add PR Comment
        if: ${{ github.head_ref == 'repo-sync' }}
        uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.MY_TOKEN }}
          script: |
            const { owner, repo, number } = context.issue;
            const pr = await github.rest.pulls.get({
              owner,
              repo,
              pull_number: number,
            });

            const author = pr.data.user.login;

            await github.rest.issues.createComment({
              owner,
              repo,
              issue_number: number,
              body: `@${author}, please make sure that you update the files in Heretto and post the Heretto share link in this PR.`
            })
